@use 'scss/variables/fontSizes' as fontSizes;
@use 'scss/utils/containers' as containers;
@use 'scss/variables/mediaQuerySizes' as mediaQuerySizes;

.drawer {
  background: #313a46;
  @include containers.set-height(100%);
  @include containers.set-width(250px);

  .drawerTitle {
    color: white;
    display: block;
    font-size: fontSizes.$xxlarge;
    margin: 30px 0;
    text-align: center;
    text-decoration: none;
  }

  .drawerLinks {
    align-items: center;
    display: flex;
    flex-direction: column;

    .navButton {
      color: white;
      margin: 10px 0;
      text-decoration-line: none;
    }
  }
}

.appbar {
  height: 64px;

  .toolbar {
    height: 100%;

    .title {
      color: white;
      text-decoration: none;
    }

    .navLinks {
      display: none;

      .navButton {
        color: white;
        margin: 0 10px;
        text-decoration-line: none;
      }
    }

    @media #{mediaQuerySizes.$desktop-tablet} {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .menuButton {
        display: none;
      }

      .navLinks {
        display: block;
      }
    }
  }
}
